.main{
    display:flex;
    align-items:center;
    justify-content: center;
}

.menu{
    display:flex;
    align-items:center;
    justify-content: center;
    flex-direction:column;
}

.canvas{
    display:flex;
    flex-direction: row;
    width: 500px;
    height: 500px;
    border-style: dashed;
    border-color: gray;
    border-width: thin;
}

.col{
    display: flex;
    flex-direction: column;
    flex: 1;
}

.cell{
    display: flex;
    flex-basis: 100%;
    border-style: solid;
    border-color: black;
    border-width: 1px;
}